/* Root for background color */
:root {
  --color1: #61677a;
  --color2: #d8d9da;
  --color3: #272829;
  --color4: #ffec9e;
  --color5: rgba(216, 217, 218, 0.3);
}

body {
  background-color: var(--color2);
}

/* Navbar styling */
.navbar {
  background-color: var(--color3);
  height: 100%;
}

/* Hamburger menu icon */
.menu-toggle {
  display: none;
  /* Hidden by default */
  cursor: pointer;
  font-size: 1.5rem;
  background-color: var(--color3);
  color: var(--color2);
  transition: all 0.1s ease;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

/* Hamburger menu icon - hover */
.menu-toggle:hover {
  color: grey;
}

.menu-toggle.active {
  justify-content: right;
}

/* Content of menu-toggle is displayed */
.menu-toggle.active + .navbar {
  display: block;
}

/* Music container */
.music-container {
  display: inline-flex;
  justify-content: center;
}

/* Music icon styling */
.music-icon {
  font-size: 20px;
}

/* Button for music */
.btnMusic {
  border: 2px solid var(--color3);
  border-radius: 10%;
  color: var(--color3);
  background-color: var(--color3);
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
}

/* Button hover effect */
.btnMusic:hover {
  background-color: var(--color3);
  color: var(--color3);
  border: 2px solid var(--color3);
}

.btnMusic:hover .speaker-icon {
  color: var(--color4);
}

.btnMusic:hover .speaker-icon-off {
  color: var(--color4);
}

/* Button active effect */
.btnMusic:active {
  background-color: var(--color1);
  color: var(--color3);
  border: 2px solid var(--color3);
}

/* Speaker icon svg */
.speaker-icon {
  color: var(--color2);
}

/* Speaker icon svg - HOVER */
.speaker-icon:hover {
  color: var(--color3);
}

/* Styling for general buttons */
.btn,
.transparent-btn {
  border: 2px solid var(--color3);
  color: var(--color2);
  background-color: var(--color3);
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1.1em;
}

/* Button hover effect */
.btn:hover,
.transparent-btn:hover {
  background-color: var(--color3);
  color: var(--color4);
}

/* Custom popover styling */
.custom-popover,
.custom-popover .popover-body {
  background-color: var(--color4);
}

/* Custom popover - HEADER */
.custom-popover .popover-header {
  background-color: var(--color3);
  color: var(--color2);
}

#popoverBtn {
  padding: 0;
  margin: 0;
  border: none;
}

/* Popover body styling */
.popover-body {
  color: var(--color3);
  font-size: 1.5em;
  border-radius: 5px;
  padding: 10px;
}

/* Introduction container styling */
.container-introduction {
  background-color: var(--color3);
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 5rem 5rem;
  border-bottom: 1px solid var(--color4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  animation: gradient-animation 18s ease infinite;
}

.Introduction-text {
  color: var(--color2);
  font-size: 1.5em;
  font-weight: 500;
  word-wrap: break-word;
  max-width: 40em;
}

/* Container styling */
.container {
  height: 100%;
  max-width: 100%;
  flex: 1;
  display: grid;
  padding: 10rem 20rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 2em;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    300deg,
    var(--color3),
    var(--color1),
    var(--color2)
  );
  background-size: 180% 180%;
  animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* SVG-s container - HTML, CSS, Javascript */
.svg-container {
  display: flex;
  justify-content: center;
  background-color: var(--color3);
  padding: 2rem 0;
}

.javascript-svg {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-projects-title {
  text-align: center;
  color: white;
  padding-top: 3rem;
  width: 100%;
  position: relative;
}
.my-projects-title span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

/* Card styling */
.card {
  background-color: #f0f0f0;
  height: 16.3em;
  width: 25em;
  margin: 2em 0 2em 0;
  place-self: center;
  border: 10px;
}

/* Card header styling */
.card-header {
  font-weight: bold;
  font-size: 1em;
  background-color: var(--color3);
  color: white;
  margin-bottom: 1em;
}

/* Card body styling */
.card-body {
  background-color: white;
  padding: 1em;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Card title styling */
.card-title {
  color: 0.5;
  font-size: 1.5em;
  font-weight: bold;
}

/* Card text styling */
.card-text {
  font-size: 1.2em;
  font-weight: 600;
}

/* Space on the right, direction github icon inside of card */
.picture-logo {
  margin-right: 0.5em;
  height: 1.5em;
  width: 1.5em;
  transition: all 0.3s ease;
}

/* Space on the right, direction github icon inside of card */
.picture-logo:hover {
  margin-right: 0.5em;
  height: 2em;
  width: 2em;
}

/* Scroll to the top button */
#scrollToTopBtn {
  display: none; /* Hide the button by default */
  position: fixed;
  bottom: 20px;
  right: 5px;
  margin-bottom: 4em;
  z-index: 99;
  background-color: var(--color3);
  color: white;
  font-weight: bold;
  border: 1px solid var(--color4);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Scroll to the top button - Animation */
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Apply animation on button click */
#scrollToTopBtn:focus {
  animation: jump 0.7s ease;
  background-color: var(--color3);
  border: 1px solid var(--color4);
  color: var(--color4);
}

/* Image container */
.imageDiv {
  padding: 0 1rem;
}

/* Image styling */
.myImage {
  max-width: 100%;
  max-height: 44vh;
  border: 3px ridge var(--color4);
  border-radius: 5%;
  float: left;
  margin-right: 2%;
  margin-top: 0.5rem !important;
  display: flex;
  justify-content: center;
}

/* Wrapper introduction 'Hello' */
.wrapper.one {
  background-color: var(--color3);
}

.drop-main {
  display: flex;
  font-size: 3rem;
  justify-content: start;
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
}
.d {
  opacity: 0;
  animation: drop 0.4s linear forwards;
  color: var(--color4);
}
.r {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.2s;
  color: var(--color4);
}
.o {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.4s;
  color: var(--color4);
}
.p {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.6s;
  color: var(--color4);
}
.s {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.8s;
  color: var(--color4);
}

@keyframes drop {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* YT icon container */
.animated-yt-icon-container {
  display: flex;
  justify-content: center;
  background-color: var(--color3);
  padding-top: 1em;
  padding-bottom: 1em;
}

.animated-yt-icon-text {
  text-align: center;
  color: var(--color2);
  margin-right: 1em;
  margin-bottom: 0;
  font-size: 1.5em;
}
/* Footer styling */
#footer {
  background-color: var(--color3);
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  height: 100%;
}

/* Margin bottom for some elements */
.mb-3 {
  color: white;
  margin-left: 5%;
  font-size: 1.4em;
}

/* Icons styling */
#icons {
  margin-right: 2em;
}

/* Icons on the bottom right of the page, for different websites, social networks */
.bi-github,
.bi-facebook,
.bi-linkedin {
  height: 1.5em;
  width: 1.5em;
  transition: all 0.3s ease;
}

/* Hover effect for icons */
.bi-github:hover,
.bi-facebook:hover,
.bi-linkedin:hover {
  height: 2em;
  width: 2em;
}

/* for screens up to 1280px */
@media screen and (max-width: 1280px) {
  .Introduction-text {
    max-width: 33em;
  }
}

/* for screens up to 991px */
@media screen and (max-width: 991px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .card-title {
    font-size: 1.4em;
  }

  .card-text {
    font-size: 1.1em;
  }

  .card {
    max-width: 75%;
    height: 15em;
  }

  /* Row styling */
  .row {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  /* Image styling */
  .myImage {
    float: none;
    margin: 0 0 3rem 0;
  }
}

/* Media query for screens up to 600px */
@media screen and (max-width: 600px) {
  .card {
    width: 20em;
    height: 16em;
  }
  /* Container styling */
  .container {
    padding: 5rem 0;
  }
}

@media screen and (max-width: 540px) {
  /* Introduction container styling */
  .container-introduction {
    padding: 2rem 5rem;
  }
  /* Row styling */
  .row {
    margin: 20em 0 5em 0;
  }
  .navbar {
    display: none;
    border-bottom: 1px solid var(--color5);
  }
  .menu-toggle {
    display: flex;
    justify-content: right;
  }
}

@media screen and (max-width: 430px) {
  .container-introduction {
    padding: 2rem 4rem;
  }
}

/* Media query for screens up to 391px */
@media screen and (max-width: 391px) {
  /* Introduction container styling */
  .container-introduction {
    padding: 2rem 3rem;
  }
  .card {
    width: 20em;
    height: 20em;
  }
  /* Music container */
  .music-container {
    justify-content: center;
  }
  #footer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  #icons {
    margin-right: 0%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .svg-container {
    flex-direction: column;
    align-items: center;
  }
  .javascript-svg {
    margin-left: 1em;
    margin-right: 1em;
  }
}

/* Media query for screens up to 320px */
@media screen and (max-width: 320px) {
  .Introduction {
    font-size: 1.4em;
    margin-left: 1.3em;
    margin-right: 1.3em;
  }
  .card {
    width: 15em;
    height: 23em;
  }
  .mb-3.mb-md-0 {
    font-size: 0.7em !important;
  }
  .custom-popover {
    font-size: 0.8em;
  }
  .javascript-svg {
    margin-left: 1em;
  }
}

